.parent{
    border: 2px black dotted;
    display: inline-block;
}

.box {
    display: inline-block;
    background: blue;
    width: 100px;
    height: 100px;
}

#dos {
    background: yellow;
    top: 20px;
    left: 30px;
    position: relative;
}